<ion-header>
<ion-toolbar color="primary">
<ion-title>Schedule</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
<ion-item *ngFor="let game of match.events">
<ion-grid>
<ion-row>
<ion-col class="ion-text-center">
<img src="assets/black.png" height="50"><br/>
{{game.strHomeTeam}}
</ion-col>
<ion-col class="ion-text-center">
<img src="assets/vs.png" height="50"><br/>
</ion-col>
<ion-col class="ion-text-center">
<img src="assets/pink.png" height="50"><br/>
{{game.strAwayTeam}}
</ion-col>
</ion-row>
<ion-row>
<ion-col class="ion-text-center">
<small>
<ion-label color="medium">
{{game.strDate}} - {{game.strTime}}
</ion-label>
</small>
</ion-col>
</ion-row>
</ion-grid>
</ion-item>
</ion-content>
